{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Fridger - Sign In
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post" class="form-signin">
        <img class="mb-4" src="https://freesvg.org/img/refrigerator.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Login</label>
        <input type="text" id="username" name="_username" class="form-control" placeholder="Login" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
        <input type="hidden" name="_target_path" value="/account"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
{% endblock %}
