{% extends 'base.html.twig' %}

{% block body %}
<main role="main">
    <p>Welcome back {{ user.username }} !</p>
    <p>your id is: {{ user.id }} </p>
    <p>and your email: {{ user.email }} !</p>
</main>

{% endblock %}
