{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <form action="{{ path('admin_dashboard') }}" method="get" class="form-signin">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Back</button>
    </form>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}

    <main role="main">
        <form action="{{ path('addingredient') }}" method="post" class="form-signin">
            <img class="mb-4" src="https://freesvg.org/img/refrigerator.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Add new ingredient!</h1>
            <label for="ingredient" class="sr-only">Ingredient name</label>
            <input type="text" id="ingredient" name="ingredient" class="form-control" placeholder="ingredient name" required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Ingredient</button>
        </form>
    </main>

    {% if success %}
        <div class="alert alert-success" role="alert">
            Ingredient Added!
        </div>
    {% endif %}
{% endblock %}
