{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('admin_dashboard') }}" method="get" class="form-signin">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Back</button>
    </form>
    <p>Available Ingredients:</p>
    <ul class="list-group">
        {% for ingredient in ingredients %}
            <li>{{ ingredient.value }}</li>
        {% endfor %}
    </ul>
{% endblock %}
