{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
{% endblock %}

{% block body %}
<main role="main">
    <p>Admin Panel</p>
    <div>
        <form action="{{ path('add-ingredient') }}" method="get" class="form-signin">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add new ingredient</button>
        </form>
        <form action="{{ path('available-ingredients') }}" method="get" class="form-signin">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Show available ingredients</button>
        </form>
        <form action="{{ path('show-users') }}" method="get" class="form-signin">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Show users</button>
        </form>
        <form action="{{ path('add-recipe') }}" method="get" class="form-signin">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add new recipe</button>
        </form>
    </div>
</main>
{% endblock %}
